@charset:utf-8;

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-color:black;
  height: auto;
  background-attachment: fixed;
}

#menu {
  margin:10px 2%;
}

li {
  width:161px;
  color:black;
}

ul#menu > li {
  background-color:gray;
  text-weight:bold;
}

ul > li > ul > li > a{
  text-decoration:none;
  display: block;
}

a {
  text-decoration:none;
  color:white;
}

#歷史, #規則, #紀錄, #器材, #影片, #圖片, #文章 {
  font-family:fantasy;
  margin:8px 20px;
  background-color:#FFCC66;
}

#歷史:hover, #規則:hover, #紀錄:hover, #器材:hover, #影片:hover, #圖片:hover, #文章:hover {
  background-color:#FF6600;
}

#top {
  width:90%;
  height:200px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}

#content {
  float:left;
  margin:3px 10px;
}

#main-text {
  color:white;
  font-size:20px;
  width:65%;
  height:auto;
  float:left;
  margin-top:3px;
  margin-left:50px;
}

#side-text {
  color:white;
  width:250px;
  height:300px;
  margin-top:3px;
  margin-right:20px;
  float:right;
}

#footer-text {
  float:none;
  margin-bottom:0px;
  height:100px;
  width:100%;
}

.logo {
  width:200px;
  height:200px;
}